<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="extractFolder">false</entry>
<entry key="currentTemplate">defaultRaw</entry>
<entry key="getCover">true</entry>
<entry key="host">Google</entry>
</properties>
